@color-primario:#fcaf00;
@color-primario2:#E74C3C;
@color-claro: #FFFFFF;
@color-white: #ffffff;
@color-obscuro: #474643;
@color-variacion:#2CA7EC;
@color-opacidad: 474643;
@font-family: 'Raleway', sans-serif;
@font-family2:'League Spartan', sans-serf;
@font-family3:'Inter', sans-serf;
@fuente-base1: 32px;
@fuente-base2: 80px;
@fuente-base3: 28px;
@fuente-base4: 22px;
@font-regular:400;
@color-hover: #798499;