//- -var services = ["Movimiento de Maquinaria","Acometidas Eléctricas", "Acometidas Hidráulicas","Pailería","Pintura"]
//- -var links = ["Inicio","Empresa","Movimiento de Maquinaria","Acometidas Eléctricas", "Acometidas Hidráulicas","Pailería","Pintura","Contacto","Aviso de privacidad"]
//- -var valores = ["PASIÓN POR EL SERVICIO","HONESTIDAD","LIDERAZGO","COMPROMISO","EXPERIENCIA","CALIDAD","RESPONSABILIDAD","CONFIANZA"]