footer
    .footer__header
        .footer__header__box
            .footer__header__box__phone
                .footer__header-icon
                    img(src="images/icono/telefono.svg", alt="icono de teléfono fijo")
                .footer__header__phone-num 
                    p 442 219-76-51 #[br]444 257-52-88
            .footer__header__box__cellphone
                .footer__header-icon 
                    img(src="images/icono/telefono-inteligente.svg", alt="ícono de un celular")
                .footer__header__cellphone-num 
                    p 449-110-68 42
            .footer__header__box__email 
                .footer__header-icon
                    img(src="images/icono/correo.svg", alt="ícono de un email")
                .footer__header__email-txt 
                    p contacto@fundacionpinita.org
    .footer__box
        .footer__box__body
            .footer__box__body-logo
                img(src="images/icono/logotipo.svg", alt="logotipo de Pinita")
            .footer__box__body-links
                h2 Enlaces Directos
                ul 
                    li
                        a(href="/") Inicio
                    li
                        a(href="Fundacion.html") Fundacion Pinita 
                    li
                        a(href="Registro.html") Registro
                    li
                        a(href="Contacto.html") Contacto
                    li
                        a(href="privacidad.html") Aviso de Privacidad 
            .footer__box__body-address 
                img(src="images/icono/maps.svg", alt="ícono de ubicación")
                p Calle Belice 211 col.
                p Santa Elena, CP
                p 20230
                p Aguascalieintes,Ags
            .footer__box__body-schedule
                h2 HORARIOS DE ATENCIÓN
                .footer__box__body-schedule-hours
                    p Lunes a Viernes: 
                    p 9:00am - 6:00 pm
                    p Sábado: 
                    p 9:00am - 2:00 pm
                    p Domingo: 
                    p Cerrado
            .footer__box__body-socialmedia
                .footer__box__body-socialmedia__icon
                    h2 SÍGUENOS
                    a(href="https://www.facebook.com/FundacionPinita") 
                        img(src="images/icono/icons8-facebook-nuevo.svg", alt="Ícono de facebook")
        .footer__foot 
            .rights
                p FUNDACION PINITA 2023
            p.divisor #[strong |]
            .link__jmc 
                a(href="https://jmcsoluciones.com" target="_blank") Desarrollado por #[strong JMC Soluciones]  
script(src="js/app-dist.js")