
<footer>
  <div class="footer__header">
    <div class="footer__header__box">
      <div class="footer__header__box__phone">
        <div class="footer__header-icon"><img src="images/icono/telefono.svg" alt="icono de teléfono fijo"/></div>
        <div class="footer__header__phone-num"> 
          <p>442 219-76-51 <br/>444 257-52-88</p>
        </div>
      </div>
      <div class="footer__header__box__cellphone">
        <div class="footer__header-icon"> <img src="images/icono/telefono-inteligente.svg" alt="ícono de un celular"/></div>
        <div class="footer__header__cellphone-num"> 
          <p>449-110-68 42</p>
        </div>
      </div>
      <div class="footer__header__box__email"> 
        <div class="footer__header-icon"><img src="images/icono/correo.svg" alt="ícono de un email"/></div>
        <div class="footer__header__email-txt"> 
          <p>contacto@fundacionpinita.org</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__box">
    <div class="footer__box__body">
      <div class="footer__box__body-logo"><img src="images/icono/logotipo.svg" alt="logotipo de Pinita"/></div>
      <div class="footer__box__body-links">
        <h2>Enlaces Directos</h2>
        <ul> 
          <li><a href="/">Inicio</a></li>
          <li><a href="Fundacion.html">Fundacion Pinita </a></li>
          <li><a href="Registro.html">Registro</a></li>
          <li><a href="Contacto.html">Contacto</a></li>
          <li><a href="privacidad.html">Aviso de Privacidad </a></li>
        </ul>
      </div>
      <div class="footer__box__body-address"> <img src="images/icono/maps.svg" alt="ícono de ubicación"/>
        <p>Calle Belice 211 col.</p>
        <p>Santa Elena, CP</p>
        <p>20230</p>
        <p>Aguascalieintes,Ags</p>
      </div>
      <div class="footer__box__body-schedule">
        <h2>HORARIOS DE ATENCIÓN</h2>
        <div class="footer__box__body-schedule-hours">
          <p>Lunes a Viernes: </p>
          <p>9:00am - 6:00 pm</p>
          <p>Sábado: </p>
          <p>9:00am - 2:00 pm</p>
          <p>Domingo: </p>
          <p>Cerrado</p>
        </div>
      </div>
      <div class="footer__box__body-socialmedia">
        <div class="footer__box__body-socialmedia__icon">
          <h2>SÍGUENOS</h2><a href="https://www.facebook.com/FundacionPinita"> <img src="images/icono/icons8-facebook-nuevo.svg" alt="Ícono de facebook"/></a>
        </div>
      </div>
    </div>
    <div class="footer__foot"> 
      <div class="rights">
        <p>FUNDACION PINITA 2023</p>
      </div>
      <p class="divisor"><strong>|</strong></p>
      <div class="link__jmc"> <a href="https://jmcsoluciones.com" target="_blank">Desarrollado por <strong>JMC Soluciones</strong>  </a></div>
    </div>
  </div>
</footer>
<script src="js/app-dist.js"></script>