
<header>
  <nav class="menu">
    <section class="menu__container"> 
      <ul class="menu__links"> 
        <li class="menu__item"> <a class="menu__link" href="index.html">Inicio</a></li>
        <li class="menu__item"> <a class="menu__link" href="Fundacion.html">Fundacion</a></li>
        <li class="menu__item"> <a class="menu__link" href="Tienda.html">Tienda</a></li>
        <li class="menu__item"> <a class="menu__link" href="login.html">Login</a></li>
        <li class="menu__item"> <a class="menu__link" href="Registro.html">Registro</a></li>
      </ul>
      <div class="menu__hamburger"> <img class="menu__img" src="images/icono/menu.svg" alt="icono de menu"/></div>
    </section>
  </nav>
</header>