header 
    content.intro
            .intro__imagen: img(src="images/mobile/mobileSlide_2-722x1048.jpg", alt="imagen inicio")
            .intro__contenido 
                h2 fundacion
                h1 Pinita 
                h3 mas que sonrisas
            .menu__hamburger
                img(src="images/icono/menu-abierto.svg", alt="icono de menu")


        
