header
    nav.menu
        section.menu__container  
            ul.menu__links 
                li.menu__item 
                    a(href="index.html").menu__link Inicio
                li.menu__item 
                    a(href="Fundacion.html").menu__link Fundacion
                li.menu__item 
                    a(href="Tienda.html").menu__link Tienda
                li.menu__item 
                    a(href="login.html").menu__link Login
                li.menu__item 
                    a(href="Registro.html").menu__link Registro
            .menu__hamburger 
                img(src="images/icono/menu.svg" alt="icono de menu").menu__img