include ../components/config.pug   
doctype html 
html 
    include ../components/head.pug 
    body 
        include ../components/header.pug   
        block content 
        include ../components/footer.pug