extend ../components/template.pug
block content
    .content 
        .content__section-slide
            section(data-bs-ride="carousel").content__slides.carousel.slide.carousel-fade#carouselExampleFade
              .carousel-inner
                    .carousel-item.active
                        picture.carousel-item__img
                            source(media="(min-width:1110px)" srcset="/images/Desktop/desktopSlides_2-1920x466.jpg")
                            source(media="(min-width:768px)" srcset="/images/Tablet/tabletSlides_2-1110x466.jpg")
                            img(src="/images/Mobile/mobileSlide_2-722x1048.jpg" alt="Imagen de inicio").d-block.w-100
                        .slideContent 
                            p Fundacion
                            p Pinita 
                            p Mas que sonrisas 
                            .slideContent__link 
                                a(href="Fundacion.html" target="blank") Nuestra Fundación 
                                img(src="/images/icono/flecha.svg", alt="logo de flecha")
                    .carousel-item
                        picture.carousel-item__img
                            source(media="(min-width:1110px)" srcset="/images/Desktop/desktopSlides_1-1920x466.jpg")
                            source(media="(min-width:768px)" srcset="/images/Tablet/tabletSlides_1-1110x466.jpg")
                            img(src="/images/Mobile/mobileSlide_1-722x1048.jpg" alt="niña de verde").d-block.w-100
                        .slideContent
                            .slideContent__box
                                img(src="/images/icono/logotipo.svg" alt="logo pinita")
                                h2 Aceptamos donaciones economicas o en especie 
                                a(href="#" target="blank") Donar
                    button(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev").carousel-control-prev.hidden
                        span(aria-hidden="true").carousel-control-prev-icon.hidden
                        span.visually-hidden.hidden Previous
                    button(type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next").carousel-control-next.hidden
                        span(aria-hidden="true").carousel-control-next-icon.hidden
                        span.visually-hidden.hidden Next